@import "tailwindcss";

@theme {
    --color-divBg: #1E1E1E;
    --color-bg: #121313;
    --color-primaryBlue: #64ACFF;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #121313 inset;
  -webkit-text-fill-color: white;
  transition: background-color 5000s ease-in-out 0s;
}

@keyframes looptext {
    0% { transform: translateY(0); }
    16% { transform: translateY(-1.5rem); }
    32% { transform: translateY(-3rem); }
    48% { transform: translateY(-4.5rem); }
    64% { transform: translateY(-6rem); }
    80% { transform: translateY(-7.5rem); }
    100% { transform: translateY(0); }
  }
  
  .animate-looptext {
    animation: looptext 6s ease-in-out infinite;
  }
  